html {font-size: 100%;} /*16px*/

body {
    font-family: 'Roboto', sans-serif;
  background: white;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  padding: 20px;
  background-image: url(images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
}

p {margin-bottom: 1rem;}

header, h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

header {
  margin-top: 0;
  font-size: 3.052rem;
}

h1 {font-size: 2.441rem;}

h2 {font-size: 1.953rem;}

h3 {font-size: 1.563rem;}

h4 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

#Introversion-title {
 
  text-align: center;
}

/* Code from lines below added for resubmit to hide button and add borders*/
.hideButton {
  display: none;
}

.showButton {
  display: visible;
  background-color: #1a237e !important;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  margin-left: 25px;
  }

  #daily-news-result {
    border: solid;
    border-color: #7e1a76 !important;
    border-radius: 25px; 
  }

  .advice-section {
    border: solid;
    border-color: #1a237e !important;
    border-radius: 25px; 
  }

  .joke-section {
    border: solid;
    border-color: #1a237e !important;
    border-radius: 25px; 
  }

  .hideSection {
    display: none;
  }

  .showSection {
    display: visible;
  }

  .news-section {
    border: solid;
    border-color: #1a237e !important;
    border-radius: 25px; 
    padding-bottom: 25px;
    padding-left: 5px;
  }

  #human-interactions {
    border: solid;
    border-color: #1a237e !important;
    border-radius: 25px; 
    padding-bottom: 25px;
    padding-left: 5px;
  }



/* Commented Out Code Below From Original Assignment and Left For Future Development of App */
/* button {
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    font-size: 1.25rem;
} */



/* button:hover {
   opacity: 75%;
}

.advice-section, .joke-section, .news-section, .container {
    padding: 5px;
    
} */


/* @media screen and (max-width: 768px) {
    body {
      background-color: #333;
    }

  }
  
  /* Additional Screen Sizes */
  
  /* Width at 320px and below */
  /* @media screen and (max-width: 320px) {
    body {
      background-color: #333;
    }
  
  }
  
  /* Width at 168px and below */
  /* @media screen and (max-width: 168px) {
    body {
      background-color: #333;
    }

  } */ 